<div class="wrapper">
    <div class="title">
        Analytics Panel
    </div>
    <div style="text-align: justify; width: 100%;">
        <mat-radio-group aria-label="Select an option" style="display: inline-block; margin-right: 10%; margin-left: 20%;" [(ngModel)]="displayMode">
            <label>Display:</label>
            <mat-radio-button value="bot">Bot-SORT</mat-radio-button>
            <mat-radio-button value="byte">ByteTrack</mat-radio-button>
            <mat-radio-button value="both">Both</mat-radio-button>
        </mat-radio-group>
        <div style="text-align: end; margin-right: 15%; margin-bottom: 10px; display: inline-block;"><mat-slide-toggle>Show Tags</mat-slide-toggle></div>
    </div>
    <div>
        @if(displayMode==='bot'){
            <div class="image-container" style="width: 60% !important; margin-left: 20% !important;">
                <p>Bot-SORT</p>
                <img src="{{ '../../../assets/frames/img1/' + this.frame_slider.toString().padStart(6, '0') + '.jpg' }}" alt="Bot-SORT">
            </div>
        }@else if(displayMode=='byte'){
            <div class="image-container" style="width: 60% !important; margin-left: 20% !important;">
                <p>ByteTrack</p>
                <img src="{{ '../../../assets/frames/img1/' + this.frame_slider.toString().padStart(6, '0') + '.jpg' }}" alt="ByteTrack">
            </div>
        }@else{
            <div class="image-container" style="width: 45% !important; margin-left: 4.5% !important;">
                <p>Bot-SORT</p>
                <img src="{{ '../../../assets/frames/img1/' + this.frame_slider.toString().padStart(6, '0') + '.jpg' }}" alt="Bot-SORT">
            </div>
            
            <div class="image-container" style="width: 45% !important; margin-left: 1% !important;">
                <p>ByteTrack</p>
                <img src="{{ '../../../assets/frames/img1/' + this.frame_slider.toString().padStart(6, '0') + '.jpg' }}" alt="ByteTrack">
            </div>
        }
    </div>
    
    <mat-slider min="1" [max]="max_frame" step="1" discrete color="accent" style="width: 60%; text-align: center; height: 50px; margin-right: 20%; margin-left: 20%;" >
        <input matSliderThumb [(ngModel)]="frame_slider">
    </mat-slider>
</div>

