.wrapper{
    border-radius: 5px;
    margin: 3px;
    height: 100%;
    border: 2px solid black;
}

.title{
    background-color: purple;
    border-radius: 5px;
    margin: 5px;
    color: white;
    font-weight: 500;
    // width: 120px;
    text-align: center;
    height: 18px;
    font-size: 14px;
}

.metrics-title{
    border: 2px solid purple;
    border-radius: 5px;
    margin: 5px;
    text-align: center; 
    font-size: large;  
    margin-top: 35px;
    margin-bottom: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.botsort{
    width: 100%; 
    font-size: 12px; 
    margin-top: 7px; 
    margin-bottom: 6px;
}

.bytetrack{
    font-size: 12px; 
    margin-top: 7px; 
    margin-bottom: 6px;
}

.tg  {border-collapse:collapse;border-color:#ccc;border-spacing:0;border-style:solid;border-width:1px;}
.tg td{background-color:#fff;border-color:#ccc;border-style:solid;border-width:0px;color:#333;
  font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:0px 4px;word-break:normal;}
.tg th{background-color:#f0f0f0;border-color:#ccc;border-style:solid;border-width:0px;color:#333;
  font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:0px 4px;word-break:normal;}
.tg .tg-m1v8{background-color:#f9f9f9;font-size:14px;text-align:center;vertical-align:middle}
.tg .tg-k27y{font-size:12px;font-weight:bold;text-align:center;vertical-align:middle}
.tg .tg-6nwz{font-size:14px;text-align:center;vertical-align:top}
.tg .tg-ftn8{background-color:#f9f9f9;font-size:14px;text-align:center;vertical-align:top}