.wrapper{
    border-radius: 5px;
    margin: 3px;
    height: 100%;
    border: 2px solid black;
}

.title{
    background-color: purple;
    border-radius: 5px;
    margin: 5px;
    color: white;
    font-weight: 500;
    // width: 120px;
    text-align: center;
    height: 18px;
    font-size: 14px;
}